/* style.scss */
.container-orders {
  margin: 20px auto;
  width: 80%;
}

.orderItem {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.productDetails {
  flex: 1;
  p {
    padding-top: 5px;
  }
}

.productImage {
  width: 150px;
}

.productImg {
  max-width: 100%;
  height: auto;
}

/* Add more styling as needed */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.firstBlock {
  flex: 1; /* Allow the first block to grow and take available space */
}
.firstBlockNoOrder {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text within the container */
  margin: 0 auto;
  flex: 1;
  p {
    font-size: 25px;
  }
  a {
  }
  button {
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
  }
}
.secondBlock {
}
.orderHeader button {
  background-color: #3498db; /* Bright blue color */
  color: #fff; /* White text color */
  border: 1px solid #3498db; /* Border color matching the background color */
  padding: 8px 16px; /* Padding for better appearance */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease; /* Add a smooth transition effect */
}

.orderHeader button:hover {
  background-color: #2980b9; /* Darker blue color on hover */
  border-color: #2980b9;
}
.buttonLogOut {
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}
.userBlock {
  margin-left: 20px;
  align-items: left; /* This should be 'flex-start' to align items to the start */
  display: flex;
  flex-direction: column;
}
.logoutBlock {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}
.colorDetails {
  display: flex;
}
.alignUser {
  display: flex;
  justify-content: space-between;
}

.cartIsEmpty {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
